
  <div class="w-100 h-100 d-flex flex-column maindiv"> 
    <header class="w-100 appheader">
      <div class="header-logo">
        <img class="w-8" alt="Logo" title="Welcome To Knowledge Modeler" src="https://storage.googleapis.com/d-brain/Ontology_LogoV2.png"/>
        <h4 class="color">Knowledge Modeler</h4>
      </div>
      <div class="hp col-sm-4 hello">
        <h4 class="color">Hi Designer !!!</h4>
        <h4 class="color">choose your workspace</h4>
      </div>
    </header>
    <!-- <section class="w-100 d-flex appsection"> -->
    <!-- <app-chart></app-chart>-->
    <!-- <app-concept></app-concept>-->
    <div class="router-component">
      <router-outlet></router-outlet>
    </div>
    <!-- </section> -->
    <div>
      <footer class="w-100 appfooter"><p>@ Powered By Digital Brain</p></footer>
      </div>
  </div> 
  <!-- <img class="footerimg" src="https://rbdemo.blob.core.windows.net/topiccloud/waiting.gif" />-->
