<div class="w-100 h-100 d-flex flex-column maindiv"> 
  <header class="w-100 appheader">
    <div class="header-logo">
      <img class="w-8" alt="Logo" title="Welcome To Knowledge Modeler" src="https://storage.googleapis.com/d-brain/Ontology_LogoV2.png"/>
      <h4 class="color">Knowledge Modeler</h4>
    </div>
    <div class="hp col-sm-4 hello">
      <p>Hi Designer !!!</p>
      <p class="">choose your workspace</p>
    </div>
  </header>
  <!-- <section class="w-100 d-flex appsection"> -->
   <!-- <app-chart></app-chart>-->
  <!-- <app-concept></app-concept>-->
    <router-outlet></router-outlet>
  <!-- </section> -->
 </div> 
 
 <footer class="w-100 appfooter"><p>@ Powered By Digital Brain</p></footer>
  
  <!-- <img class="footerimg" src="https://rbdemo.blob.core.windows.net/topiccloud/waiting.gif" />-->


