<div class="d-flex sectiondiv">
<!-- knowledge extraction : start-->
    <div class="left h-100">
     <div class="kextraction border border-2 h-100">
        <h3>Knowledge Extraction</h3>
        <hr>
        <nav class="navbar navbar-light bg-light">
          <form class="container-fluid justify-content-start d-flex flex-row"  enctype="multipart/form-data">
            <button class="btn btn-outline-secondary" type="button" (click)="getAllDocument()">All Document</button>
            <button class="btn btn-outline-secondary btstyle" *ngFor="let filename of fileNames" type="button" (click)="fetchdata(filename)">{{filename}}
              <i class="fa fa-times rmRight" aria-hidden="true" style="float:right;" (click)="removeDocument(filename)"></i>
            </button> 
            
          </form>
        </nav>
         <input type="file" class="custom-file-input btn-sm btn-btm" (change)="addfile($event)" 
         #fileInput [multiple]="multiple">
      </div>
    </div>
    <!-- knowledge extraction : end-->


     <!--  <app-knowledgeextraction></app-knowledgeextraction>-->
     <!-- <app-knowledgeextraction  (childToParent)="childToParent($event)"></app-knowledgeextraction>-
        <app-child [childToMaster]=product.productName (childToParent)=”childToParent($event)”></app-child>-->
  
        <!--Meta knowledge  : start-->
    <div class="center border border-2 d-flex flex-column">
    
        <div class="kmeta"><!-- meta main div-->
            <h3>Meta Knowledge</h3>
            <hr>
            <div>
              <div class="container-fluid d-flex flex-row " >
                <mat-tab-group>
                  <mat-tab label="Topi Cloud">
                    <app-chart [chartDetails]="chartDetails"></app-chart>
                  </mat-tab>
                  <mat-tab label="Raw View">
                    <div>
                      <app-rawview [rawviewDts]="rawSentences? rawSentences: {}"></app-rawview>
                    </div>
                  </mat-tab>
                  <mat-tab label="Graph View">
                    <app-graphview [uniqueLabel]="uniqueLabel? uniqueLabel: {}"></app-graphview>
                  </mat-tab>
                  <mat-tab label="Train Data">
                    
                  </mat-tab>
                </mat-tab-group>
                <!-- <ul class="navbar-nav me-auto my-2 my-lg-0 d-flex flex-row border metanav" style="--bs-scroll-height: 100px;">
                  
                    <li class="nav-item border" data-target="#topicloudDisplay" (click)="gettopidata()">
                      <a class="nav-link" aria-current="page" >TopiCloud</a>
                    </li>  
                    <li class="nav-item border" data-target="#rawviewDisplay" (click)="getrawviewdata()">
                      <a class="nav-link" aria-current="page" >RawView</a>
                    </li>
                    <li class="nav-item border" data-target="#graphDisplay" (click)="getgraphdata()">
                      <a class="nav-link" >GraphView</a>
                    </li>
                    <li class="nav-item border" (click)="traindata()">
                      <a class="nav-link"  tabindex="-1">Train Data</a> 
                    </li>
                </ul> -->
              </div>
            </div>            
        </div>
      <!--  <div id="chartdiv"  style="width: 100%; height: 500px"></div>
         
       <div  *ngIf="rawviewDetails" id="chartdiv"  style="width: 100%; height: 500px"></div> 
   meta topi div
  
    <div class="h-100" *ngIf="topiDetails" id="topicloudDisplay">
      <app-chart [chartDetails]="chartDetails" [datagram]="datagram"></app-chart>   
  </div> -->

  <!-- <div class="h-100" *ngIf="topiDetails" id="topicloudDisplay">
    <app-chart [chartDetails]="chartDetails"></app-chart>   
  </div> -->
  <!--
  <div class="" *ngIf="chartDetails" id="topicloudDisplayBi">
    <app-chart [chartDetails]="chartDetails" [datagram]="this.datagram"></app-chart>
</div> 
<div class="" *ngIf="chartDetails" id="topicloudDisplayTri">
  <app-chart [chartDetails]="chartDetails" [datagram]="this.datagram"></app-chart>
</div> -->
  <!-- <div class="h-100" *ngIf="rawviewDetails" id="rawviewDisplay">
    <app-rawview [rawviewDts]="rawSentences"></app-rawview>
  </div>  -->
  <!-- <div class="h-100" *ngIf="graphDetails" id="graphDisplay">
    graph display
    
    <app-graphview [primNode]="primNode" [relation]="relation" [secNode]="secNode"></app-graphview>
    <app-graphview [uniqueLabel]="uniqueLabel"></app-graphview>
  
  </div>  -->

    </div>
 
     <!-- <app-metaknowledge> </app-metaknowledge>-->
     <!-- <app-chart></app-chart>
       <app-chart [childToMaster]=fileResult></app-chart>
        <app-child [childToMaster]=product.productName (childToParent)=”childToParent($event)”></app-child>-->

    <!--Meta knowledge  : end -->

    <!--Concept Value : start -->
    <div class="right border border-2 conValue">
      <!-- <div class="conValue border border-2 d-flex flex-row">
        <div class="condiv">
          <h6>Concept</h6>
          <hr>
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Create Concept...." 
                  aria-describedby="button-addon2" [(ngModel)]="concept">
              <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2"
              (click)="labelFunction(concept)" >Submit</button>                    
          </div>
          <div><li class="d-flex border border-2" *ngFor="let dc of displayConcept">{{dc}}</li></div>
      </div>       
    <hr>
    <div class="valdiv">
        <h6>Value</h6>
        <hr>
        <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Add Value to Concept...." aria-label="AddValue"
                    aria-describedby="button-addon2" value="val" [(ngModel)]="value">
                <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2"
                (click)="labelFunction(value)" >Submit</button>
        </div>  
        <div><li class="d-flex border border-2" *ngFor="let dv of displayValue">{{dv}}</li> </div>
    </div>
     </div>
     <app-concept-value></app-concept-value>-->
     <div class="condiv">
      <h3>Concept</h3>
      <hr>
      <div class="input-group mb-3 concept-value-group">
          <input type="text" class="form-control concept-value-input" placeholder="Create Concept...." 
              aria-describedby="button-addon2" [(ngModel)]="concept">
          <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2"
          (click)="labelFunction(concept)">Submit</button>                    
      </div>
      <div>
        <div class="datascroll">
          <mat-chip-list aria-label="Concept">
            <mat-chip *ngFor="let dc of displayConcept" color="primary" [removable]="removable" (removed)="removeCon(dc)">
              {{dc}}<button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            </mat-chip-list>
          <!-- <button type="button" *ngFor="let dc of displayConcept" class="btn btn-secondary btn-sm" (click)="getvaluesForSelLabel(dc)" >
          {{dc}}
          <i class="fa fa-times" aria-hidden="true" style="float:right;" (click)="removeCon(dc)"></i>
          </button></div> -->
          <!--   <li class="d-flex border border-2" *ngFor="let dc of displayConcept">{{dc}}</li>
          
          <li class="d-flex border border-2" *ngFor="let dv of displayValue">{{dv}}</li>-->
        </div>
      </div>
    </div>
    <hr>
    <div class="valdiv">
      <h3>Value</h3>
      <hr>
      <div class="input-group mb-3 concept-value-group">
              <input type="text" class="form-control concept-value-input" placeholder="Add Value to Concept...." 
              aria-describedby="button-addon2" [(ngModel)]="value">
              <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2"
              (click)="valueFunction(concept, value)">Submit</button>
      </div>  
      <div class="datascroll">
        <mat-chip-list aria-label="Concept">
          <mat-chip *ngFor="let dv of displayValue" color="primary" [removable]="removable" (removed)="removeVal(dv)">
            {{dv}}<button matChipRemove *ngIf="removable"><mat-icon>cancel</mat-icon></button>
          </mat-chip>
        </mat-chip-list>
        <!-- <button type="button" *ngFor="ldet dv of isplayValue" class="btn btn-secondary btn-sm btwidth"
        >{{dv}}
          <i class="fa fa-times" aria-hidden="true"style="float:right;"  (click)="removeVal(dv)"></i>
          
        </button>  -->
      </div>
    </div>
    

    </div>
    <!--Concept Value : end -->

    

</div> 
